body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  
}

.logo {
  padding-top: 15px;
  padding-left: 10px;
   
}
.navbar {
  background-color: #343434; 
}
@media only screen and (max-width: 768px) {
  
  .p-aboutme {
    text-align: center;
    position: absolute;
    top: 30%;
  }

  .title-projects {
    position: absolute;
    left: 48%;
  }

  .description-projects {
    font-size: 0.9em;
    align-content: center;
  }

  

.padding-bot-mobile {
  padding-bottom: 10px;
}

  
  .image {
    position: absolute;
    width: 280px;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  
  .navbar-header {
    padding-top: 340px;
  }

  .logo{
    opacity: 0;
  }

  .navbar-nav>li>a {
    
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
}

.p-aboutme {
  position: absolute;
  top: 30%;
  left: 20%;
}
 
.description-projects {
  font-size: 1.5em;
}

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #343434;

}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background: #3a3a3a;;
}



html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
}


/* ---- stats.js ---- */

.count-particles{
  background: #3a3a3a;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

canvas {
  display: block;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  top: 51%;
  right: 45%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
  max-width: 90%;
  padding: 3em 3em;
  font-family: 'Montserrat;', sans-serif;
}

h1{
  color: white;
  font-weight: bold; 
  font-size: 3rem;
}

.title-aboutme {
  position: absolute;
  top: 15%;
  left: 22%;
}

.title-projects {
  position: absolute;
  top: 15%;
  left: 20%;
 
}


.footer-aboutme{
  padding-top: 50px;
  left: 40%;
}

.card {
  position: absolute;
  top: 30%;
  left: 20%;
}

.title-project {
  color: white;
  font-size: 2.8em;
}





.find-about{
  color: white;
  font-size: 2.8em;
  font-weight: bold;
  padding-top: 40px;

}

.contact {
  font-size: 2em;
}

.mark{
  color: white;
  font-size: 2em;
  background-color: #002A95;
  border-radius: 6px;
  padding-bottom: 10px;
}

hr {
  opacity: 0;
}

.little-padding-bot{
  padding-bottom: 12px;
}

.big-padding-bot{
  padding-bottom: 50px;
}

p {
  color: white;
  font-size: 22px;
  font-weight: lighter;
  font-family: 'Montserrat;', sans-serif;

}

a {
  display: inline-block;
  position: relative;
  color: #123A9D;
  text-decoration: none;
  padding: 0.2em 0.05em;
}

a:hover {
  color: #006FFF;
}

a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333333;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0.000, 0.590, 1.000, 0.260);
}

a:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333333;
  z-index: -1;
}

.padding-top-mobile {
  padding-top: 2em;
}

.padding-bot {
  padding-bottom: 12em;
}

strong {
  color: #006FFF
}



